# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Django
# ===============================
*.log
db.sqlite3
media/
staticfiles/

# ===============================
# Environment / Secrets  🔒
# ===============================
.env
.env.*
.env.local

# ===============================
# Virtual Environments
# ===============================
venv/
env/
.venv/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Editors
# ===============================
.vscode/
.idea/
